<a href="https://colab.research.google.com/github/nikitaoltyan/Mech-Trading-Systems/blob/main/Stochastic_parabolic_bot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Project cloning
!git clone https://github.com/nikitaoltyan/Mech-Trading-Systems.git
%cd Mech-Trading-Systems

Cloning into 'Mech-Trading-Systems'...
remote: Enumerating objects: 300, done.
remote: Counting objects: 100% (38/38), done.
remote: Compressing objects: 100% (35/35), done.
remote: Total 300 (delta 20), reused 7 (delta 3), pack-reused 262
Receiving objects: 100% (300/300), 1.97 MiB | 16.40 MiB/s, done.
Resolving deltas: 100% (149/149), done.
/content/Mech-Trading-Systems

In [5]:
import pandas as pd
import numpy as np
from PlotDraw import draw_plot

In [6]:
data = pd.read_excel("LHAG.xlsx")
data.head()

         <DATE>  <CLOSE>  <OPEN>  <HIGH>   <LOW>   <VOL>
0  Dec 30, 2020   10.815  11.000  11.030  10.735   3.15M
1  Dec 29, 2020   10.960  10.630  11.290  10.560  11.25M
2  Dec 28, 2020   10.375  10.170  10.615  10.155   6.45M
3  Dec 23, 2020    9.860   9.518   9.888   9.496   3.55M
4  Dec 22, 2020    9.450   9.390   9.600   9.328   3.16M

In [7]:
data.astype({'<CLOSE>': 'int32', '<OPEN>': 'int32', '<HIGH>': 'int32', '<LOW>': 'int32'}).dtypes
data.astype({'<DATE>': 'datetime64[ns]'}).dtypes

<DATE>     datetime64[ns]
<CLOSE>           float64
<OPEN>            float64
<HIGH>            float64
<LOW>             float64
<VOL>              object
dtype: object

In [8]:
def stochastic(data, period = 14, m = 3):
    stoch_data = data.copy()
    stoch_data['14-HIGH'] = stoch_data['<HIGH>'].rolling(period).max()
    stoch_data['14-LOW'] = stoch_data['<LOW>'].rolling(period).min()
    stoch_data['%K'] = (stoch_data['<CLOSE>'] - stoch_data['14-LOW'])*100/(stoch_data['14-HIGH'] - stoch_data['14-LOW'])
    stoch_data['%D'] = stoch_data['%K'].rolling(m).mean()
    return stoch_data

In [9]:
stoch_data = stochastic(data)
stoch_data

            <DATE>  <CLOSE>  <OPEN>  ...  14-LOW         %K         %D
0     Dec 30, 2020   10.815  11.000  ...     NaN        NaN        NaN
1     Dec 29, 2020   10.960  10.630  ...     NaN        NaN        NaN
2     Dec 28, 2020   10.375  10.170  ...     NaN        NaN        NaN
3     Dec 23, 2020    9.860   9.518  ...     NaN        NaN        NaN
4     Dec 22, 2020    9.450   9.390  ...     NaN        NaN        NaN
...            ...      ...     ...  ...     ...        ...        ...
1258  Jan 08, 2016   14.920  15.060  ...  13.205  88.630491  79.196200
1259  Jan 07, 2016   15.010  14.800  ...  13.205  92.802057  87.479378
1260  Jan 06, 2016   15.160  14.910  ...  13.205  88.662132  90.031560
1261  Jan 05, 2016   14.925  14.670  ...  13.205  78.004535  86.489574
1262  Jan 04, 2016   14.475  14.275  ...  13.205  57.596372  74.754346

[1263 rows x 10 columns]

In [11]:
stoch_data = stochastic(data)

money = 100000
is_purchased = False
last_price = 0
current_shares = 0
commission = 0.003

for _, row in stoch_data.iterrows():
    buy_condition = (row["%K"]<20) and (row["%D"]<20)
    sell_condition = (row["%K"]>80) and (row["%D"]>80)
    if (buy_condition) and not (is_purchased):
        is_purchased = True
        open_price = row["<CLOSE>"]
        current_shares = money // open_price
        deal_commission = round(current_shares * open_price * commission, 5)
        money = money - (open_price * current_shares) - deal_commission
    if (sell_condition) and (is_purchased):
        is_purchased = False
        close_price = row["<CLOSE>"]
        deal_commission = round(current_shares * close_price * commission, 5)
        money = money + (close_price * current_shares) - deal_commission
        current_shares = 0
    last_price = row["<CLOSE>"]
print(money+ current_shares*last_price)

88119.37861999997

In [13]:
def calculate_profit(money, period, m):
    stoch_data = stochastic(data, period=period, m=m)

    money = money
    is_purchased = False
    last_price = 0
    current_shares = 0
    commission = 0.003

    for _, row in stoch_data.iterrows():
        buy_condition = (row["%K"]<20) and (row["%D"]<20)
        sell_condition = (row["%K"]>80) and (row["%D"]>80)
        if (buy_condition) and not (is_purchased):
            is_purchased = True
            open_price = row["<CLOSE>"]
            current_shares = money // open_price
            deal_commission = round(current_shares * open_price * commission, 5)
            money = money - (open_price * current_shares) - deal_commission
        if (sell_condition) and (is_purchased):
            is_purchased = False
            close_price = row["<CLOSE>"]
            deal_commission = round(current_shares * close_price * commission, 5)
            money = money + (close_price * current_shares) - deal_commission
            current_shares = 0
        last_price = row["<CLOSE>"]
    return money+current_shares*last_price

In [17]:
periods = [2, 30]
ms = [2, 30]
start_money = 100000
results = {}

for iter in range (128):
    period = np.random.randint(periods[0], periods[1])
    m = np.random.randint(ms[0], ms[1])
    profit = calculate_profit(start_money, period, m)
    print(f"For iter {iter}, profit {profit-start_money}. Period: {period}, m: {m}")
    
    results[profit-start_money] = (period, m)

print(f"Max profit: {max(results)} for $100k start money was received. \nUsed period: {results[max(results)]}")

For iter 0, profit 117341.40717000002. Period: 21, m: 20
For iter 1, profit 0.0. Period: 8, m: 22
For iter 2, profit 113514.92371999996. Period: 19, m: 24
For iter 3, profit -35677.18079999999. Period: 12, m: 26
For iter 4, profit 99920.51525999996. Period: 20, m: 16
For iter 5, profit 0.0. Period: 3, m: 23
For iter 6, profit -39024.33499999999. Period: 5, m: 7
For iter 7, profit -11714.7494. Period: 15, m: 29
For iter 8, profit -11161.193070000008. Period: 25, m: 2
For iter 9, profit 106421.70867999995. Period: 20, m: 28
For iter 10, profit 0.0. Period: 3, m: 18
For iter 11, profit 91454.33526000002. Period: 28, m: 21
For iter 12, profit 78952.0734. Period: 28, m: 22
For iter 13, profit 0.0. Period: 5, m: 24
For iter 14, profit 44620.327569999936. Period: 22, m: 12
For iter 15, profit 111919.55606000003. Period: 9, m: 16
For iter 16, profit -21522.93391000002. Period: 13, m: 2
For iter 17, profit -15538.645700000081. Period: 15, m: 8
For iter 18, profit 49101.60932999995. Period: 25, m: 24
For iter 19, profit 47888.49642000001. Period: 19, m: 14
For iter 20, profit 61288.63322999998. Period: 21, m: 14
For iter 21, profit 0.0. Period: 4, m: 18
For iter 22, profit 77796.62007999994. Period: 24, m: 27
For iter 23, profit 87820.48341000002. Period: 28, m: 16
For iter 24, profit 31707.33627000003. Period: 29, m: 28
For iter 25, profit 70258.60103999986. Period: 24, m: 26
For iter 26, profit 0.0. Period: 7, m: 18
For iter 27, profit 21456.35189999992. Period: 22, m: 7
For iter 28, profit 0.0. Period: 5, m: 15
For iter 29, profit 95927.98199000006. Period: 29, m: 14
For iter 30, profit 0.0. Period: 6, m: 28
For iter 31, profit 63983.52369999999. Period: 13, m: 13
For iter 32, profit 44348.166109999904. Period: 23, m: 28
For iter 33, profit 94239.01746. Period: 26, m: 20
For iter 34, profit 87904.61759000001. Period: 26, m: 16
For iter 35, profit 2619.7900999999692. Period: 21, m: 4
For iter 36, profit 21456.35189999992. Period: 22, m: 7
For iter 37, profit 0.0. Period: 5, m: 13
For iter 38, profit 0.0. Period: 5, m: 20
For iter 39, profit -18789.655129999985. Period: 18, m: 27
For iter 40, profit 129844.64903999996. Period: 20, m: 18
For iter 41, profit 48412.80179999999. Period: 23, m: 27
For iter 42, profit -26133.712930000052. Period: 14, m: 8
For iter 43, profit 74764.85226000004. Period: 22, m: 23
For iter 44, profit -29011.957620000045. Period: 21, m: 2
For iter 45, profit 50948.07315999994. Period: 15, m: 20
For iter 46, profit 0.0. Period: 5, m: 10
For iter 47, profit 27281.138729999933. Period: 8, m: 5
For iter 48, profit 87948.5001400001. Period: 28, m: 17
For iter 49, profit 119162.83148000002. Period: 22, m: 21
For iter 50, profit -35849.19576. Period: 10, m: 29
For iter 51, profit 36254.322289999924. Period: 21, m: 10
For iter 52, profit 95034.86029000001. Period: 22, m: 17
For iter 53, profit 16117.258890000026. Period: 25, m: 7
For iter 54, profit 40662.05566999997. Period: 28, m: 26
For iter 55, profit 6718.853780000005. Period: 29, m: 8
For iter 56, profit 81345.09639000014. Period: 17, m: 18
For iter 57, profit 81203.72493999999. Period: 7, m: 14
For iter 58, profit 13095.859529999972. Period: 3, m: 4
For iter 59, profit 0.0. Period: 4, m: 23
For iter 60, profit -10916.270649999991. Period: 17, m: 29
For iter 61, profit 102966.40585000004. Period: 8, m: 14
For iter 62, profit 0.0. Period: 2, m: 27
For iter 63, profit 100277.48815000008. Period: 18, m: 15
For iter 64, profit 95517.90844000006. Period: 23, m: 19
For iter 65, profit 106430.25018999996. Period: 20, m: 24
For iter 66, profit 3996.792790000007. Period: 14, m: 9
For iter 67, profit -31005.32884000006. Period: 16, m: 2
For iter 68, profit 93473.33485999997. Period: 26, m: 18
For iter 69, profit 0.0. Period: 6, m: 21
For iter 70, profit 94239.01746. Period: 26, m: 20
For iter 71, profit -14789.643060000046. Period: 17, m: 8
For iter 72, profit 57817.574199999974. Period: 21, m: 27
For iter 73, profit -17482.69137. Period: 23, m: 3
For iter 74, profit 34468.86417999992. Period: 23, m: 10
For iter 75, profit 21679.12853999999. Period: 14, m: 16
For iter 76, profit -33592.116160000034. Period: 18, m: 2
For iter 77, profit 84253.91683000003. Period: 29, m: 19
For iter 78, profit 7749.879129999987. Period: 26, m: 8
For iter 79, profit -20033.215490000002. Period: 17, m: 25
For iter 80, profit 0.0. Period: 4, m: 11
For iter 81, profit 180544.46235. Period: 13, m: 19
For iter 82, profit 45799.13339999993. Period: 29, m: 24
For iter 83, profit 6718.853780000005. Period: 29, m: 8
For iter 84, profit 12005.198079999973. Period: 7, m: 6
For iter 85, profit 86276.6704200001. Period: 24, m: 16
For iter 86, profit 18085.846260000122. Period: 10, m: 3
For iter 87, profit 82271.00343999997. Period: 18, m: 18
For iter 88, profit 48542.09513999993. Period: 20, m: 12
For iter 89, profit 69224.78932999991. Period: 9, m: 4
For iter 90, profit -11880.621380000026. Period: 14, m: 3
For iter 91, profit 9716.579009999972. Period: 20, m: 6
For iter 92, profit 0.0. Period: 4, m: 8
For iter 93, profit -35677.18079999999. Period: 11, m: 27
For iter 94, profit 23628.659520000016. Period: 18, m: 9
For iter 95, profit 41622.08449999994. Period: 20, m: 13
For iter 96, profit 90122.57858000006. Period: 24, m: 19
For iter 97, profit 7113.104810000019. Period: 17, m: 23
For iter 98, profit -37083.494199999994. Period: 10, m: 19
For iter 99, profit 83491.72119000007. Period: 16, m: 11
For iter 100, profit 85159.85642000008. Period: 26, m: 21
For iter 101, profit 78952.0734. Period: 27, m: 22
For iter 102, profit 48542.09513999993. Period: 20, m: 12
For iter 103, profit 94239.01746. Period: 26, m: 20
For iter 104, profit 20963.95567000001. Period: 21, m: 9
For iter 105, profit 0.0. Period: 8, m: 25
For iter 106, profit -17049.181859999968. Period: 17, m: 4
For iter 107, profit 165063.35687000002. Period: 12, m: 14
For iter 108, profit 58592.23286999995. Period: 11, m: 15
For iter 109, profit 15858.844790000032. Period: 25, m: 9
For iter 110, profit -17049.181859999968. Period: 17, m: 4
For iter 111, profit 116169.53844. Period: 2, m: 2
For iter 112, profit 107833.89264000003. Period: 19, m: 20
For iter 113, profit 94729.91789000004. Period: 28, m: 15
For iter 114, profit 17957.749320000003. Period: 9, m: 20
For iter 115, profit 12242.425230000023. Period: 16, m: 5
For iter 116, profit 15139.373549999975. Period: 17, m: 22
For iter 117, profit 227.02378000000317. Period: 14, m: 26
For iter 118, profit -3413.056089999969. Period: 12, m: 20
For iter 119, profit -18248.365329999942. Period: 16, m: 3
For iter 120, profit 0.0. Period: 2, m: 5
For iter 121, profit 0.0. Period: 6, m: 17
For iter 122, profit 1865.1819000000396. Period: 9, m: 9
For iter 123, profit 59097.51889000001. Period: 7, m: 11
For iter 124, profit -14390.715750000032. Period: 12, m: 2
For iter 125, profit 38179.785859999974. Period: 7, m: 3
For iter 126, profit 0.0. Period: 4, m: 25
For iter 127, profit -16620.15641000001. Period: 18, m: 29
Max profit: 180544.46235 for $100k start money was received.
Used period: (13, 19)

In [18]:
url = 'https://launchpad.net/~mario-mariomedina/+archive/ubuntu/talib/+files'
!wget $url/libta-lib0_0.4.0-oneiric1_amd64.deb -qO libta.deb
!wget $url/ta-lib0-dev_0.4.0-oneiric1_amd64.deb -qO ta.deb
!dpkg -i libta.deb ta.deb
!pip install ta-lib
import talib

Selecting previously unselected package libta-lib0.
(Reading database ... 160983 files and directories currently installed.)
Preparing to unpack libta.deb ...
Unpacking libta-lib0 (0.4.0-oneiric1) ...
Selecting previously unselected package ta-lib0-dev.
Preparing to unpack ta.deb ...
Unpacking ta-lib0-dev (0.4.0-oneiric1) ...
Setting up libta-lib0 (0.4.0-oneiric1) ...
Setting up ta-lib0-dev (0.4.0-oneiric1) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for libc-bin (2.27-3ubuntu1.2) ...
/sbin/ldconfig.real: /usr/local/lib/python3.7/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

Collecting ta-lib
  Downloading https://files.pythonhosted.org/packages/ac/cf/681911aa31e04ba171ab4d523a412f4a746e30d3eacb1738799d181e028b/TA-Lib-0.4.19.tar.gz (267kB)
     |████████████████████████████████| 276kB 6.0MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from ta-lib) (1.19.5)
Building wheels for collected packages: ta-lib
  Building wheel for ta-lib (setup.py) ... done
  Created wheel for ta-lib: filename=TA_Lib-0.4.19-cp37-cp37m-linux_x86_64.whl size=1437967 sha256=14148616ef1eefee6680f79f1ebeba474c7bb1655a833d5d6d8661ebb1a12d97
  Stored in directory: /root/.cache/pip/wheels/a3/f6/12/3d1ccd06caadd8fa47e016991dd0d27f1163bb260f1854e2ff
Successfully built ta-lib
Installing collected packages: ta-lib
Successfully installed ta-lib-0.4.19

In [19]:
dataSAR = data.copy()
dataSAR['SAR'] = talib.SAR(dataSAR['<HIGH>'], dataSAR['<LOW>'], acceleration=0.02, maximum=0.2)
dataSAR

            <DATE>  <CLOSE>  <OPEN>  <HIGH>   <LOW>   <VOL>        SAR
0     Dec 30, 2020   10.815  11.000  11.030  10.735   3.15M        NaN
1     Dec 29, 2020   10.960  10.630  11.290  10.560  11.25M  11.290000
2     Dec 28, 2020   10.375  10.170  10.615  10.155   6.45M  11.290000
3     Dec 23, 2020    9.860   9.518   9.888   9.496   3.55M  11.290000
4     Dec 22, 2020    9.450   9.390   9.600   9.328   3.16M  11.182360
...            ...      ...     ...     ...     ...     ...        ...
1258  Jan 08, 2016   14.920  15.060  15.140  14.840   5.90M  13.402016
1259  Jan 07, 2016   15.010  14.800  15.150  14.615   8.07M  13.541055
1260  Jan 06, 2016   15.160  14.910  15.410  14.900   8.04M  13.701949
1261  Jan 05, 2016   14.925  14.670  14.995  14.625   6.52M  13.906915
1262  Jan 04, 2016   14.475  14.275  14.725  14.175   6.38M  14.087285

[1263 rows x 7 columns]

In [23]:
dataSAR = data.copy()
dataSAR['SAR'] = talib.SAR(dataSAR['<HIGH>'], dataSAR['<LOW>'], acceleration=0.02, maximum=0.2)

money = 100000
is_purchased = False
last_price = 0
current_shares = 0
prev_row_sar = 0
commission = 0.003

for _, row in dataSAR.iterrows():
    buy_condition = (last_price > prev_row_sar) and (row["SAR"]>row["<CLOSE>"])
    sell_condition = (last_price < prev_row_sar) and (row["SAR"]<row["<CLOSE>"])
    if (buy_condition) and not (is_purchased):
        is_purchased = True
        open_price = row["<CLOSE>"]
        current_shares = money // open_price
        deal_commission = round(current_shares * open_price * commission, 5)
        money = money - (open_price * current_shares) - deal_commission
    if (sell_condition) and (is_purchased):
        is_purchased = False
        close_price = row["<CLOSE>"]
        deal_commission = round(current_shares * close_price * commission, 5)
        money = money + (close_price * current_shares) - deal_commission
        current_shares = 0
    prev_row_sar = row["SAR"]
    last_price = row["<CLOSE>"]
print(money+ current_shares*last_price)

8896.138250000025

In [25]:
def calculate_profit(money, acceleration, maximum):
    dataSAR = data.copy()
    dataSAR['SAR'] = talib.SAR(dataSAR['<HIGH>'], dataSAR['<LOW>'], acceleration=acceleration, maximum=maximum)

    money = 100000
    is_purchased = False
    last_price = 0
    current_shares = 0
    prev_row_sar = 0
    commission = 0.003

    for _, row in dataSAR.iterrows():
        buy_condition = (last_price > prev_row_sar) and (row["SAR"]>row["<CLOSE>"])
        sell_condition = (last_price < prev_row_sar) and (row["SAR"]<row["<CLOSE>"])
        if (buy_condition) and not (is_purchased):
            is_purchased = True
            open_price = row["<CLOSE>"]
            current_shares = money // open_price
            deal_commission = round(current_shares * open_price * commission, 5)
            money = money - (open_price * current_shares) - deal_commission
        if (sell_condition) and (is_purchased):
            is_purchased = False
            close_price = row["<CLOSE>"]
            deal_commission = round(current_shares * close_price * commission, 5)
            money = money + (close_price * current_shares) - deal_commission
            current_shares = 0
        prev_row_sar = row["SAR"]
        last_price = row["<CLOSE>"]
    return money+current_shares*last_price

In [27]:
axelerations = [0, 0.5]
maximums = [0, 1]
start_money = 100000
results = {}

for iter in range (128):
    axeleration = np.random.uniform(axelerations[0], axelerations[1])
    m = np.random.uniform(maximums[0], maximums[1])
    profit = calculate_profit(start_money, period, m)
    print(f"For iter {iter}, profit {profit-start_money}. Axeleration: {axeleration}, m: {m}")
    
    results[profit-start_money] = (axeleration, m)

print(f"Max profit: {max(results)} for $100k start money was received. \nUsed period: {results[max(results)]}")

For iter 0, profit -96617.6096700001. Axeleration: 0.0487091134701394, m: 0.2851780837533362
For iter 1, profit -97906.00851000007. Axeleration: 0.10020816938249172, m: 0.4935461682526989
For iter 2, profit -97817.04961000005. Axeleration: 0.11528632777507197, m: 0.38458145916655584
For iter 3, profit -92081.1044199999. Axeleration: 0.423913347086251, m: 0.10658563851192548
For iter 4, profit -97973.42555000004. Axeleration: 0.32511838766798, m: 0.5528770651357524
For iter 5, profit -98144.35353000005. Axeleration: 0.10607723438325545, m: 0.8692572513229883
For iter 6, profit -97973.42555000004. Axeleration: 0.45886675177272157, m: 0.5488322952715469
For iter 7, profit -98144.35353000005. Axeleration: 0.4420100031423845, m: 0.7198936637328187
For iter 8, profit -98144.35353000005. Axeleration: 0.05656318045488418, m: 0.7082672247694407
For iter 9, profit -92163.21900999999. Axeleration: 0.4282862073908569, m: 0.10076980490647647
For iter 10, profit -96648.00851999992. Axeleration: 0.07885980453847041, m: 0.20742779915087317
For iter 11, profit -81636.69162000004. Axeleration: 0.0329406031034577, m: 0.04151358288359552
For iter 12, profit -98027.16023000002. Axeleration: 0.3223493484927127, m: 0.6185860999672875
For iter 13, profit -94848.13508. Axeleration: 0.1989222374177414, m: 0.1567336648659572
For iter 14, profit -98144.35353000005. Axeleration: 0.4554808522756723, m: 0.9706832370061692
For iter 15, profit -97993.20638000002. Axeleration: 0.1837088363296705, m: 0.5886546978649075
For iter 16, profit -98144.35353000005. Axeleration: 0.42986716447222667, m: 0.9711272378329721
For iter 17, profit -98027.16023000002. Axeleration: 0.4714713180804245, m: 0.6208417910991341
For iter 18, profit -98144.35353000005. Axeleration: 0.18333247792823748, m: 0.882620294744183
For iter 19, profit -98144.35353000005. Axeleration: 0.04049489512799853, m: 0.9670787396057993
For iter 20, profit -97805.77179000003. Axeleration: 0.48807638260972486, m: 0.3777791778107914
For iter 21, profit -98027.16023000002. Axeleration: 0.1954221289414746, m: 0.6296730379885199
For iter 22, profit -98144.35353000005. Axeleration: 0.21879289707704486, m: 0.998035539999225
For iter 23, profit -78254.15273. Axeleration: 0.2524328669225719, m: 0.0372545275392574
For iter 24, profit -96366.7015299999. Axeleration: 0.15150359268754848, m: 0.22052864536305683
For iter 25, profit -96494.71057999993. Axeleration: 0.17933495614537887, m: 0.21060967083115445
For iter 26, profit -98144.35353000005. Axeleration: 0.46836725939394086, m: 0.7115099383569456
For iter 27, profit -98144.35353000005. Axeleration: 0.34054953532140353, m: 0.82416837384479
For iter 28, profit -98144.35353000005. Axeleration: 0.06773120751800427, m: 0.9685618854181465
For iter 29, profit -98144.35353000005. Axeleration: 0.21277291074763705, m: 0.8660083836996099
For iter 30, profit -98144.35353000005. Axeleration: 0.48682255242159594, m: 0.9109198460999856
For iter 31, profit -85134.56921. Axeleration: 0.2576277933196143, m: 0.07484183355445462
For iter 32, profit -98144.35353000005. Axeleration: 0.25993812716010695, m: 0.9103660672321544
For iter 33, profit -97906.00851000007. Axeleration: 0.3740252217155071, m: 0.4989414587961858
For iter 34, profit -98144.35353000005. Axeleration: 0.49764198806872384, m: 0.9091522340560966
For iter 35, profit -98144.35353000005. Axeleration: 0.29171586528398985, m: 0.8491719115978967
For iter 36, profit -97993.20638000002. Axeleration: 0.2906169789256623, m: 0.5757690668167229
For iter 37, profit -97981.03185000006. Axeleration: 0.018324807955787725, m: 0.5124585213705141
For iter 38, profit -97928.89002000008. Axeleration: 0.37040595252004105, m: 0.48729283755543285
For iter 39, profit -98027.16023000002. Axeleration: 0.4258667574303185, m: 0.6261918688708735
For iter 40, profit -97769.21027000005. Axeleration: 0.18804104632362806, m: 0.4372401393233414
For iter 41, profit -98027.16023000002. Axeleration: 0.23370195296813473, m: 0.6235651121677782
For iter 42, profit -98144.35353000005. Axeleration: 0.45810817046890917, m: 0.901281016976311
For iter 43, profit -97296.17036000005. Axeleration: 0.10606728283279904, m: 0.3615002063676511
For iter 44, profit -98144.35353000005. Axeleration: 0.07457175399961441, m: 0.7500594970670824
For iter 45, profit -98102.10548000003. Axeleration: 0.18818030874906683, m: 0.6687462756469023
For iter 46, profit -98144.35353000005. Axeleration: 0.08729603154697285, m: 0.9980987727316062
For iter 47, profit -98144.35353000005. Axeleration: 0.1535346668719323, m: 0.9466073867537627
For iter 48, profit -77562.68838999997. Axeleration: 0.09892526918445232, m: 0.05486440850843177
For iter 49, profit -92962.27379999995. Axeleration: 0.1760313902031484, m: 0.11458179786473055
For iter 50, profit -96818.28404000001. Axeleration: 0.41776773468195205, m: 0.23933422895874246
For iter 51, profit -96750.27565000003. Axeleration: 0.0722198954636874, m: 0.23294383276146247
For iter 52, profit -97906.00851000007. Axeleration: 0.10358662203858637, m: 0.49901359721154803
For iter 53, profit -98102.10548000003. Axeleration: 0.32436278015965353, m: 0.6781852413742624
For iter 54, profit -98144.35353000005. Axeleration: 0.4419628589150842, m: 0.7661361946421905
For iter 55, profit -97987.88037000003. Axeleration: 0.4511170605081446, m: 0.600768327388871
For iter 56, profit -90593.52653999993. Axeleration: 0.28116232324102347, m: 0.09788841825407468
For iter 57, profit -98144.35353000005. Axeleration: 0.2233170860407115, m: 0.696030148033644
For iter 58, profit -98144.35353000005. Axeleration: 0.16511767357713825, m: 0.8568423904016157
For iter 59, profit -97973.42555000004. Axeleration: 0.43572624549660294, m: 0.5621332336116497
For iter 60, profit -97993.20638000002. Axeleration: 0.16965074431009064, m: 0.5755575691913626
For iter 61, profit -97027.32310000002. Axeleration: 0.4341684594588148, m: 0.342511693680415
For iter 62, profit -93501.68855000005. Axeleration: 0.45121456247521, m: 0.13432895944409529
For iter 63, profit -96460.14966000005. Axeleration: 0.29730059679261484, m: 0.30280294788141127
For iter 64, profit -93414.3869. Axeleration: 0.06515756504170811, m: 0.13272121899314127
For iter 65, profit -98131.45410000005. Axeleration: 0.05404782464560176, m: 0.6874054927865209
For iter 66, profit -82205.72019000002. Axeleration: 0.401698301151169, m: 0.07961306992010142
For iter 67, profit -98144.35353000005. Axeleration: 0.32262687310798455, m: 0.8573999002215797
For iter 68, profit -97805.77179000003. Axeleration: 0.2165506331814085, m: 0.38049525419027685
For iter 69, profit -98144.35353000005. Axeleration: 0.3013839530604985, m: 0.7690937508615868
For iter 70, profit -97973.42555000004. Axeleration: 0.20256349092376885, m: 0.5616216062394396
For iter 71, profit -98144.35353000005. Axeleration: 0.4464339992226503, m: 0.91235022880075
For iter 72, profit -96728.96739999992. Axeleration: 0.29690311788614404, m: 0.22492097615775852
For iter 73, profit -98102.10548000003. Axeleration: 0.1314207533023014, m: 0.6765251001018394
For iter 74, profit -97987.88037000003. Axeleration: 0.08009500345206744, m: 0.6004036691494532
For iter 75, profit -97984.6784. Axeleration: 0.3533027837408393, m: 0.5683029919796434
For iter 76, profit -98144.35353000005. Axeleration: 0.09812926839036512, m: 0.8348717577346478
For iter 77, profit 27797.49585000002. Axeleration: 0.2699068452333501, m: 0.001607574496859998
For iter 78, profit -96700.29249000007. Axeleration: 0.3400125436897892, m: 0.32096308182838185
For iter 79, profit -97769.21027000005. Axeleration: 0.39902808944410656, m: 0.4381882480330256
For iter 80, profit -96351.91837000001. Axeleration: 0.1524789821022558, m: 0.19751995907143172
For iter 81, profit -97906.00851000007. Axeleration: 0.3719285719139588, m: 0.5033967643196724
For iter 82, profit -96422.7978099999. Axeleration: 0.41497660110544815, m: 0.2138290839654401
For iter 83, profit -83789.24645999992. Axeleration: 0.40708444910987496, m: 0.06684419772884065
For iter 84, profit -98027.16023000002. Axeleration: 0.48715758312985546, m: 0.6235392048725626
For iter 85, profit -96701.26244999995. Axeleration: 0.3386286383649489, m: 0.23986404900730562
For iter 86, profit -97993.20638000002. Axeleration: 0.11577495661823656, m: 0.5783357716259255
For iter 87, profit -98027.16023000002. Axeleration: 0.23820908145093628, m: 0.6128841970625616
For iter 88, profit -95020.31406. Axeleration: 0.281964966807005, m: 0.1534420585319889
For iter 89, profit -97984.6784. Axeleration: 0.4796383078981915, m: 0.5699119927162054
For iter 90, profit -97770.61436000008. Axeleration: 0.07035078931255018, m: 0.42156169221679374
For iter 91, profit -93824.55488999997. Axeleration: 0.28846930296319784, m: 0.12045812079222162
For iter 92, profit -96930.83173000012. Axeleration: 0.3908218889318468, m: 0.2647281709509559
For iter 93, profit -98144.35353000005. Axeleration: 0.1760898438946335, m: 0.9787353382084503
For iter 94, profit -97791.42393000005. Axeleration: 0.11363302752218973, m: 0.459131240645812
For iter 95, profit -96261.47064999999. Axeleration: 0.04348201038484484, m: 0.17245540253447245
For iter 96, profit -96913.17084999994. Axeleration: 0.24824296008599922, m: 0.32714703726058136
For iter 97, profit -97806.74080000009. Axeleration: 0.04788010649144736, m: 0.4089751710991252
For iter 98, profit -81343.83282000003. Axeleration: 0.3921090050361922, m: 0.05020613686736253
For iter 99, profit -98144.35353000005. Axeleration: 0.1974560574538774, m: 0.7242018184524504
For iter 100, profit -98144.35353000005. Axeleration: 0.1490395082504572, m: 0.7466301152919264
For iter 101, profit -97993.20638000002. Axeleration: 0.2903763786795525, m: 0.5807391903572822
For iter 102, profit -96767.72484999994. Axeleration: 0.17131189063128538, m: 0.24536471256852188
For iter 103, profit -98027.16023000002. Axeleration: 0.4821741504040287, m: 0.6419442675870402
For iter 104, profit -98102.10548000003. Axeleration: 0.184325741429182, m: 0.6844138759138224
For iter 105, profit -98102.10548000003. Axeleration: 0.39258206691576986, m: 0.6707302025447027
For iter 106, profit -98027.16023000002. Axeleration: 0.4189495626473553, m: 0.6392604952380163
For iter 107, profit -98144.35353000005. Axeleration: 0.010180186073608821, m: 0.8247745982065221
For iter 108, profit -96801.03691999997. Axeleration: 0.06561786909226947, m: 0.2473957870894018
For iter 109, profit -97667.85783000005. Axeleration: 0.45339289427159346, m: 0.3742641834106897
For iter 110, profit -98000.74553000003. Axeleration: 0.43866908998043497, m: 0.5937440402658065
For iter 111, profit -98144.35353000005. Axeleration: 0.32810335362264575, m: 0.779278981921163
For iter 112, profit -97987.88037000003. Axeleration: 0.028181236825882083, m: 0.606712590618237
For iter 113, profit 27797.49585000002. Axeleration: 0.3109884328140206, m: 0.0016605951270789454
For iter 114, profit -97873.40883000004. Axeleration: 0.01641707647391394, m: 0.4761015046168593
For iter 115, profit -98027.16023000002. Axeleration: 0.40145062678688653, m: 0.6229500367071974
For iter 116, profit -97848.88312000001. Axeleration: 0.36247931899873903, m: 0.4460034107629116
For iter 117, profit -66637.13023000004. Axeleration: 0.07916298104160624, m: 0.027922437714259507
For iter 118, profit -98144.35353000005. Axeleration: 0.3769055883543923, m: 0.7567428392172413
For iter 119, profit -98144.35353000005. Axeleration: 0.39796854814511606, m: 0.8986097297660098
For iter 120, profit -98144.35353000005. Axeleration: 0.28247728192802307, m: 0.703486978957139
For iter 121, profit -98144.35353000005. Axeleration: 0.449760769476361, m: 0.9657223316151381
For iter 122, profit -97893.17259000005. Axeleration: 0.03478959480689686, m: 0.47164855445200426
For iter 123, profit -98144.35353000005. Axeleration: 0.4006000263572253, m: 0.7637027622092614
For iter 124, profit -98144.35353000005. Axeleration: 0.15227433978391614, m: 0.7509098611840678
For iter 125, profit -98144.35353000005. Axeleration: 0.18742997428982744, m: 0.7127082706168946
For iter 126, profit -97753.09455000004. Axeleration: 0.15192030534146228, m: 0.3855876884374939
For iter 127, profit -98144.35353000005. Axeleration: 0.4291464792942578, m: 0.692965770341047
Max profit: 27797.49585000002 for $100k start money was received.
Used period: (0.3109884328140206, 0.0016605951270789454)