<a href="https://colab.research.google.com/github/nikitaoltyan/Mech-Trading-Systems/blob/main/stochastic_parabolic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Project cloning
!git clone https://github.com/nikitaoltyan/Mech-Trading-Systems.git
%cd Mech-Trading-Systems

Cloning into 'Mech-Trading-Systems'...
remote: Enumerating objects: 297, done.
remote: Counting objects: 100% (35/35), done.
remote: Compressing objects: 100% (32/32), done.
remote: Total 297 (delta 18), reused 8 (delta 3), pack-reused 262
Receiving objects: 100% (297/297), 1.97 MiB | 12.14 MiB/s, done.
Resolving deltas: 100% (147/147), done.
/content/Mech-Trading-Systems

In [2]:
import pandas as pd
from PlotDraw import draw_plot

In [3]:
data = pd.read_excel("LHAG.xlsx")
data.head()

         <DATE>  <CLOSE>  <OPEN>  <HIGH>   <LOW>   <VOL>
0  Dec 30, 2020   10.815  11.000  11.030  10.735   3.15M
1  Dec 29, 2020   10.960  10.630  11.290  10.560  11.25M
2  Dec 28, 2020   10.375  10.170  10.615  10.155   6.45M
3  Dec 23, 2020    9.860   9.518   9.888   9.496   3.55M
4  Dec 22, 2020    9.450   9.390   9.600   9.328   3.16M

In [4]:
data.astype({'<CLOSE>': 'int32', '<OPEN>': 'int32', '<HIGH>': 'int32', '<LOW>': 'int32'}).dtypes
data.astype({'<DATE>': 'datetime64[ns]'}).dtypes

<DATE>     datetime64[ns]
<CLOSE>           float64
<OPEN>            float64
<HIGH>            float64
<LOW>             float64
<VOL>              object
dtype: object

In [8]:
def stochastic(data, period = 14, m = 3):
    stoch_data = data.copy()
    stoch_data['14-HIGH'] = stoch_data['<HIGH>'].rolling(period).max()
    stoch_data['14-LOW'] = stoch_data['<LOW>'].rolling(period).min()
    stoch_data['%K'] = (stoch_data['<CLOSE>'] - stoch_data['14-LOW'])*100/(stoch_data['14-HIGH'] - stoch_data['14-LOW'])
    stoch_data['%D'] = stoch_data['%K'].rolling(m).mean()
    return stoch_data

In [10]:
stoch_data = stochastic(data)
stoch_data

            <DATE>  <CLOSE>  <OPEN>  ...  14-LOW         %K         %D
0     Dec 30, 2020   10.815  11.000  ...     NaN        NaN        NaN
1     Dec 29, 2020   10.960  10.630  ...     NaN        NaN        NaN
2     Dec 28, 2020   10.375  10.170  ...     NaN        NaN        NaN
3     Dec 23, 2020    9.860   9.518  ...     NaN        NaN        NaN
4     Dec 22, 2020    9.450   9.390  ...     NaN        NaN        NaN
...            ...      ...     ...  ...     ...        ...        ...
1258  Jan 08, 2016   14.920  15.060  ...  13.205  88.630491  79.196200
1259  Jan 07, 2016   15.010  14.800  ...  13.205  92.802057  87.479378
1260  Jan 06, 2016   15.160  14.910  ...  13.205  88.662132  90.031560
1261  Jan 05, 2016   14.925  14.670  ...  13.205  78.004535  86.489574
1262  Jan 04, 2016   14.475  14.275  ...  13.205  57.596372  74.754346

[1263 rows x 10 columns]